<div id="carousel" class="col-xs-12">
    <img src="<%= asset_path "carousel-1" %>" alt="Carousel1" data-index='1' class="carousel-image active">
    
    <img src="<%= asset_path "carousel-2" %>" alt="Carousel2" data-index='2' class="carousel-image">

    <img src="<%= asset_path "carousel-3" %>" alt="Carousel3" data-index='3' class="carousel-image">

    <img src="<%= asset_path "carousel-4" %>" alt="Carousel4" data-index='4' class="carousel-image">

    <div id="triangle-bottomleft">
    </div>

    <div class="carousel-info-box">
        <p>Are you interested in Alternative medicine?</p>
        <p>Find the solution to your problem through Alternative Medicine like Ayurveda , Yoga and Homeopathy </p>
    </div>

    <button src="<%= asset_path "right-arrow" %>" alt="Carousel4" class="carousel-right-arrow" id="carousel-next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>    
    </button>

    <button src="<%= asset_path "left-arrow" %>" alt="Carousel5" class="carousel-left-arrow"  id="carousel-previous">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </button>
    
</div>