<div id="carousel" class="col-md-12">
    <img src="<%= asset_path "carousel-1.jpg" %>" alt="Carousel1" data-index='1' class="carousel-image active">
    
    <img src="<%= asset_path "carousel-2.jpg" %>" alt="Carousel2" data-index='2' class="carousel-image">

    <img src="<%= asset_path "carousel-3.jpg" %>" alt="Carousel3" data-index='3' class="carousel-image">

    <img src="<%= asset_path "carousel-4.jpg" %>" alt="Carousel4" data-index='4' class="carousel-image">

    <div class="hidden-xs hidden-sm" id="triangle-bottomleft">
    </div>

    <div class="carousel-info-box active-info-box">
        <p>Alternative Medicine</p>
        <p>Find the solution to your problem through Alternative Medicine like Ayurveda , Yoga and Homeopathy </p>
    </div>
    <div class="carousel-info-box">
        <p>Inexpensive Medical Care</p>
        <p>Get inexpensive medical care throughout research duration </p>
    </div>
    <div class="carousel-info-box">
        <p>New Treatment</p>
        <p>connect with doctors all over India who are carrying out research and book an appointment wit them</p>
    </div>
    <div class="carousel-info-box">
        <p>Connect</p>
        <p>We connect patients with similar diagnosis so that you can share your experiences</p>
    </div>
    
    <div class="visible-xs visible-sm carousel-links">
        <span class="">Sign | Register</span>
    </div>
    <div class="visible-xs visible-sm carousel-links">
        <span class="">Are you a CRO?</span>
    </div>
    <div class="visible-xs visible-sm carousel-links">
        <span class="">Are you a Physician?</span>
    </div>

    <button src="<%= asset_path "right-arrow" %>" alt="Carousel4" class="carousel-right-arrow" id="carousel-next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>    
    </button>

    <button src="<%= asset_path "left-arrow" %>" alt="Carousel5" class="carousel-left-arrow"  id="carousel-previous">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </button>
    
</div>
