<footer class="footer">
      <div class="container-fluid">
        <div class="hidden-xs hidden-sm col-md-7 left-section">
              <p class="col-md-6 col-md-offset-1">Connect with your treatment</p>
              <%= image_tag 'fb-icon.png', class: 'img-responsive col-md-1' %>
              <%= image_tag 'gplus-icon.png', class: 'img-responsive col-md-1' %>
              <%= image_tag 'twitter-icon.png', class: 'img-responsive col-md-1' %>
              <%= image_tag 'linkedin-icon.png', class: 'img-responsive col-md-1' %>
        </div>
        
        <div class="hidden-xs col-md-5 right-section" style="background-color: #0067AB; height: 60px">
          <div  class="col-md-3 hidden-xs hidden-sm" id="triangle-bottomleft-white">
          </div>
          <div class="col-sm-4 col-sm-offset-2">
            <ul>
              <li><a>Disclaimer</a></li>
              <li><a>Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul>
              <li><a>Contact Us</a></li>
              <li><a>Site Map</a></li>
            </ul>
          </div>
          <div class="col-sm-3 footer-copyright">
            <ul>
              <li><%= image_tag 'MyCure_Logo_footer.png' %></li>
              <li>Copyright(C) 2016 MyCure Inc.</li>
              <li>All Rights Reserved</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="visible-xs site-links">
          <div>
            <ul>
              <li><a>Disclaimer</a></li>
              <li><a>Privacy Policy</a></li>
              <li><a>Contact Us</a></li>
              <li><a>Site Map</a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>