<%= render "menu" %>
<div class="container-fluid" id="main-content">

    <section class="col-md-7" id="carousel-container" >
        <%= render "carousel" %>
    </section>


    <section class="col-md-5" id="info-container">
        <div class="sign-in-register col-md-12"><span class="pull-right"><a>Sign In</a> | <a> Register</a></span></div>
        <h1 class="visible-xs visible-sm ">Find Clinical Trial</h1>
        <h5 class="visible-xs visible-sm">Search for a Clinical Trial near you</h5>

        <h1 class="text-center visible-md visible-lg">Find Clinical Trial</h1>
        <h5 class="text-muted text-center visible-md visible-lg">Search for a Clinical Trial near you</h5>
        <div class="col-md-12 col-lg-10 col-lg-offset-1 info-bar"></div>

        <form class="col-md-10 col-md-offset-1">

            <div class="form-group">
                <label for="locationInput">Location</label>
                <input type="location" class="form-control" id="locationInput" placeholder="Eg - New Delhi, India">
            </div>

            <div class="form-group">
                <label for="healthConditionInput">Health Condition of Interest</label>
                <input type="condition" class="form-control" id="healthConditionInput" placeholder="Eg - Diabetes">
            </div>
            <div>
                <button type="submit" class="btn btn-default col-md-5" id="landing-search">Search</button>
                <a class="col-md-6">Advanced Search ></a>
            </div>
        </form>

        <div class="col-md-12">
            <div  class="col-md-4">
                <div class="center-block" style="text-align:center">
                    <a href="#">
                    <%= image_tag "cro", size: "80x60", class: "media-object center-block"%>
                    <h5 class="media-heading">For CROs</h5>
                    </a>
                </div>
            </div>

            <div  class="col-md-4">
                <div class="center-block" style="text-align:center">
                    <a href="#">
                    <%= image_tag "physician", size: "80x60", class: "media-object center-block"%>
                    <h5 class="media-heading">For Physicians</h5>
                    </a>
                </div>
            </div>

            <div  class="col-md-4">
                <div class="center-block" style="text-align:center">
                    <a href="#">
                    <%= image_tag "physician", size: "80x60", class: "media-object center-block"%>
                    <h5 class="media-heading">For Volunteers</h5>
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>

<footer class="footer">
      <div class="container-fluid">
        <div class="col-md-7"></div>
        <div class="col-md-5" style="background-color: #0067AB; height: 60px"></div>
      </div>
    </footer>

